<!DOCTYPE html>
<html ng-app="store">
  <head>
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/styles.css" />
  </head>

  <body ng-controller="StoreController as store">
    <div class="container">
      <div class="row">
        <div ng-repeat="product in store.products" class='col-md-6'>
          <div>
            <img ng-src="{{product.images[0].thumb}}" class="img-responsive" />
            <h1> {{product.name}} </h1>
            <h2>{{product.price | currency}}</h2>
            <p>{{product.description}}</p>
            <button ng-show="product.canPurchase" class="btn btn-default">Add to Cart</button>
            <hr>
            <section ng-controller="PanelController as panel">
              <ul class="nav nav-pills">
                <li ng-class="{ active: panel.isSelected(1) }"> <a href ng-click="panel.selectTab(1)">Description</a> </li>
                <li ng-class="{ active: panel.isSelected(2) }"> <a href ng-click="panel.selectTab(2)">Specification</a> </li>
                <li ng-class="{ active: panel.isSelected(3) }"> <a href ng-click="panel.selectTab(3)">Reviews</a> </li>
              </ul>
              {{tab}}
              <div class="panel" ng-show="panel.isSelected(1)">
                <h4>Description</h4>
                <p>{{product.description}}</p>
              </div>
              <div class="panel" ng-show="panel.isSelected(2)">
                <h4>Specifications</h4>
                <blockquote>None yet</blockquote>
              </div>
              <div class="panel" ng-show="panel.isSelected(3)">
                <h4>Reviews</h4>
                <blockquote ng-repeat="review in product.reviews">
                  <b>Stars: {{review.stars}}</b>
                  {{review.body}}
                  <cite>by: {{review.author}}</cite>
                </blockquote>



                <form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>
                  <div class="row">
                    <div class="col-sm-12">
                      <blockquote>
                        <b>Stars: {{reviewCtrl.review.stars}}</b>
                        {{reviewCtrl.review.body}}
                        <cite>by: {{reviewCtrl.review.author}}</cite>
                      </blockquote>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <select ng-model="reviewCtrl.review.stars" required>
                        <option value="1">1 star</option>
                        <option value="2">2 stars</option>
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <textarea ng-model="reviewCtrl.review.body" required></textarea>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <label>by</label>
                      <input ng-model="reviewCtrl.review.author" type="email" required />
                      <div> reviewForm is {{reviewForm.$valid}} </div>
                      <input type="submit" value="Submit" />
                    </div>
                  </div>
                </form>



              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="assets/js/angular.min.js"></script>
    <script type="text/javascript" src="assets/js/app.js"></script>
  </body>
</html>
